.main-content {
  /* overflow: auto; */
  /* position: absolute;
  width: 95%;
  height: 100%; */
}

.pager {
  float: right;
  margin: 10px 10px 10px 0;
  /* position: absolute; */
  /* bottom: 10px */
}