.tab {
  width: 100%;
  margin-top: 20px;
  /* box-sizing: border-box; */
  text-align: center;
  border-collapse: collapse;
}

.tab tr {
  height: 35px;
}

.tab td,
.tab th {
  border: 1px solid #ccc;
}